body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding-top: 56px; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.navbar-custom {
    background-color: rgb(255, 255, 255);
}

.contact-container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.container {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px; 
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

.contact-info p {
    margin: 10px 0;
    font-size: 16px;
    color: #333;
}

.contact-info p strong {
    display: block;
    color: #333;
    font-weight: bold;
}